@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
}

header {
    background-color: black !important;
    height: 135px !important;
}

.titulo-header {
    color: #c5c3c3 !important;
    font-family: "Josefin Sans", sans-serif !important;
    font-size: 2.5em !important;
    margin-top: 0.8em !important;
    padding-left: 2em !important;
    font-weight: 500 !important;
}

.lista-header {
    color: #c5c3c3 !important;
}

.lista-header, li, a {
    display: inline !important;
    font-family: "Josefin Sans", sans-serif !important;
    font-size: 15px !important;
    margin-top: 2.5em !important;
    padding: 1em !important;
    text-decoration: none !important;
    color: #c5c3c3;
}

.borda_botao {
   color: #8264FA !important;
   font-size: 19px !important;
}

body {
    background-color: #242424;
    height: 100% !important;
    width: 100% !important;
}

main {
    width: 100% !important;
}

h2 {
    color: white !important;
    font-size: 28px !important;
    padding-top: 2em !important;
    padding-left: 2em !important;
    padding-bottom: 0;
}

.palavra_roxa {
    color: #8264FA !important;
    font-size: 40px !important;
}

.formulario-nome {
    width: 65% !important;
    padding-left: 4em !important;
}

.formulario-email {
    width: 65% !important;
    padding-left: 4em !important;
}

.formulario-botao {
    background-color: #8264FA !important;
    margin-left: 3em !important;
    margin-top: 1em !important;
    width: 20% !important;
    font-size: 22px !important;
    padding: 1px !important;
}

.imagem {
    margin-top: 3em !important;
    opacity: 0.7 !important;
    padding-right: 2em !important;
}

img {
    margin-right: 1em !important;
}

.propaganda-main {
    margin-top: 1em !important;
    color: white !important;
    padding-top: 5em !important;
    padding-right: 2em !important;
    background-image: url(/img/java-desktop-hero.webp);
    background-size: 85% !important;
    background-repeat: no-repeat !important;
    background-position: 75% 0% !important;
}

.java-h {
    color: white !important;
    font-size: 3em !important;
    padding-bottom: 0.5em !important;
}

.botao-condicao{
    background-color: #8264FA !important;
    font-weight: 500 !important;
}

.texto-java-p{
    padding-bottom: 1.5em !important;
}

.planos-gradiente{
    background: linear-gradient(to right, #00933A, #00A4AE, #5350FF, #8D47FF, #A1009B);
    width: 60% !important;
    padding: 1em !important;
    text-align: center !important;
    color: white !important;
    font-size: 1.2em !important;  
    margin-top: 2em !important;
    border-radius: 10px !important;
    margin-left: 22% !important;
    flex: 1 !important;
    display: flex !important;
    font-family:"Josefin Sans", sans-serif !important;
}

.botao-gradiente {
    padding-left: 26% !important;    
}

.botao-botao-gradi {
    background-color: white !important;
    color: #5350FF !important;
    font-weight: bold !important;
    font-family:"Josefin Sans", sans-serif !important;
}

footer {
    background-color: black !important;
    color: #c5c3c3 !important;
    position: absolute !important;
    bottom:0% !important;
    width: 100% !important;
    padding: 0.5em !important;
    text-align: center !important;
}
